/* Global Css Start */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.flex{
    display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-content{
  justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.w-full{
    width: 100%;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-23{
    width: 23%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.container{
    max-width: 1280px;
    margin: auto;
    padding: 0 10px;
}
/* Global Css End */

.color{
    background: #F4F8F9;
}
.main-header > .wrapper{
    padding: 20px;
}
.main-header nav ul{
    gap: 20px;
}
.main-header nav ul li{
    list-style: none;
}
.main-header nav ul li a{
    text-decoration: none;
    color: #000;
}
.main-header nav ul li a.active{
    color: #4581FB;
    position: relative;
    font-weight: 600;
}
.main-header nav ul li a.active:after{
  content: "";
  background: url('images/Ellipse.png') no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -2px;
  left: -5px;
}
.logo img{
    width: 84px;
    height: 51px;
}
.icons img{
    padding: 8px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px;
    min-height: 100vh;
    box-sizing: border-box;
}

.hero-content {
    max-width: 490px;
    width: 100%;
}

.hero-content h1 {
    font-size: 75px;
    margin: 0 0 20px;
    font-weight: 600;
    color: #2C3D5F;
}

.hero-content h1 span {
    color: #4581FB;
    font-weight: 600;
}

.hero-content p {
    color: #2C3D5F;
    font-size: 16px;
    margin-bottom: 30px;
}

.btn {
    width: 160px;
    height: 57px;
    display: flex;
    background: #3b82f6;
    color: #fff;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.banner {
    position: relative;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 797px;
    width: 100%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

    /* Slider dots */
.slider-dots{
    margin-top: 40px;
    display: flex;
    gap: 8px;
}
.slider-dots span{
    display: block;
    width: 12px;
    height: 12px;
    background:#8c919c;
    border-radius: 50%;
}
.slider-dots span.active{
    background: #3b82f6;
    width: 30px;
    height: 12px;
    border-radius: 8px;
}

.categories{
    padding-bottom: 50px;
    padding-top: 25px;
}
.cat-grid {
  display: grid;
  grid-template-areas: 
  "sale women men accessories"
  "new women shoes shoes";
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 18px;
}
.cat-card {
    position: relative;
    overflow: hidden;
    background: #e5e7eb;
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
}
/* Badge */
.cat-badge {
    background: rgba(255, 255, 255, 0.8);
    color: #2C3D5F;
    font-weight: 500;
    padding: 12px 35px;
    border-radius: 15px;
    box-shadow: 0 6px 16px rgba(15, 23, 42, 0.12);
}
/* Grid Areas*/
.sale{
  grid-area: sale;
}
.women {
  grid-area: women; 
}
.men{
  grid-area: men;
}
.accessories{
  grid-area: accessories;
}
.new{
  grid-area: new;
}
.shoes {
  grid-area: shoes; 
}
.best-seller{
  background-color: #FFFF;
}
.section-title {
   background-color: #FFFF;
   text-align: center;
   margin: 30px 0;
}
.section-title h2 {
  font-size: 50px;
  font-weight: 600;
  color: #2C3D5F;
 }
.section-title h2 span {
  color: #4581FB;
  font-weight: 600; 
 }
.section-title p {
  color: #2C3D5F;
  font-size: 24px;
  font-weight: 400;
  margin-top: 5px;
 }

.filter-bar {
  margin-left: 15px;
  margin-bottom: 25px;
  font-size: 16px;
  color: #2C3D5F;
  outline: none;
}
/* select box design */
.filter-left select {
  padding: 6px 12px;
  color: #2C3D5F;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}
/* products-flexbox */
.products-flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.product{
    width: calc(100% / 4 - 15px);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
    margin-bottom: 40px;
    text-align: center;
}
.product .main-img{
    max-width: 100%;
    border: 2px solid #ddd;
    border-radius: 4px;
}
.product img.star{
    width: 107px;
    margin: 10px auto;
    display: block;
}
.prd-img-wrap{
  position: relative;
  border-radius: 7px;
  overflow: hidden;
}
.prd-img-wrap:hover .options{
  opacity: 1;
  right: 0;
}
.product p{
    font-size: 16px;
    color: #555;
    margin: 8px 0;
}
.product .main-img{
    width: 100%;
    border: none;
    border-radius: 4px;
}
.product h3{
    font-size: 24px;
    font-weight: 600;
    color: #4581FB;
    margin-top: 5px;
}

.options{
  position: absolute;
  inset: 0;
  right: -900px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  padding: 18px;
  opacity: 0;
  transition: 0.3s ease all;
}
.options .search{
  background: transparent;
  border: none;
  margin-right: 5px;
}
.options .cart{
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #4581FB;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-title{
   font-size: 16px;
   margin: 8px 1px;
   color: #2C3D5F;
}

.product-price{
   font-size: 24px;
   font-weight: 600;
   color: #4581FB;
}
            

.style-card{
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 16px;
}

.style{ 
    position: relative;
    overflow: hidden;
}
.style img{
    width: 100%;
}
.opacity{
    position: absolute;
    top: 50%;
    left: 30%;
    background: rgba(255, 255, 255, 0.8);
    color: #2C3D5F;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 15px;
}
.main-img{
  width: 100%;
  display: block;
}

.blog-header {
    margin-bottom: 40px;
    text-align: center;
}

.blog-header h2 {
    font-size: 50px;
    margin: 0;
    font-weight: 600;
    color: #2C3D5F;
}

.blog-header h2 span {
    color:  #4581FB;
    font-weight: 600;
}

.blog-header p {
    margin-top: 8px;
   color: #2C3D5F;
    font-size: 18px;
}

.blog-row {
    gap: 20px;
}

.blog-card {
    width: 413px; 
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    padding: 10px;
    
}

.blog-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid #eee;
    border-radius: 10px;
 
}

.blog-content {
    padding: 16px;
    flex-direction: column;
    gap: 10px;
}

.blog-content h3 {
    margin: 0;
    font-weight: 500;
}

.line {
    width: 50px;
    height: 3px;
    background:  #4581FB;
    border-radius: 2px;
}

.blog-content p {
    font-size: 14px;
    color: #6e3f3f;
    line-height: 1.5;
    margin-bottom: 16px;
}

.read-btn {
    background: #4581FB;
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.calendar {
    gap: 20px;
    font-size: 13px;
    color: #666;
    margin-top: 12px;
}

.calendar span {
  gap: 5px;
}

.calendar img {
  width: 22px;
  height: 22px;
}


/*page 3*/

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 35px;
}

span {
  margin: 0 5px;
  padding: 5px 10px;
  font-weight: 400;
  color: #34373C; 

}

span.active {
    width: 34px;
  background-color: #03A9F4;
  color:#FFFFFF;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pagination .left-Arrowo img{
    width: 20px;
}
.pagination .right-Aroowo img{
    width: 20px;
}
/* Product Section */
.page-bg {
  background: #fff;
  padding: 60px 20px 60px 20px;
  position: relative;
  overflow: visible;
  margin-top: 40px;
}
.product-section {
  gap: 20px;
}
.product-thumbs img {
  width: 118px;
  display: block;
  margin-bottom: 17px;
}
.product-image {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.product-image img {
  width: 100%;
  display: block;
  margin: auto;
}
.product-icons {
  position: absolute;
  top: 10px;
  right: 10px;
}
.product-icons .search {
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
}
.product-icons .search img {
  width: 18px;
  height: 18px;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
}
/* ===== Left arrow button ===== */
.arrow.left {
  left: 10px;
  background: #fff;
}
.arrow.right {
  right: 10px;
  background: #4581FB;
}
.arrow img {
  width: 18px;
}
/* Product Info */
.product-info {
  padding: 5px 20px;
  margin-left: 10px;
}
.info-line {
  font-size: 16px;
  color: #2C3D5F;
  margin: 6px 0;
  padding-bottom: 5px;
}
.info-line .gray {
  padding-bottom: 10px;
  margin-left: 60px;
}
.info-line .gray2 {
  margin-left: 8px;
  color: lightgray;
  padding-bottom: 10px;
}
.info-line .gray3 {
  margin-left: 39px;
  color:lightgray;
  padding-bottom: 10px;
}
.product-info h1 {
  font-size: 30px;
  font-weight: 500;
  color: #4581FB;
  padding-bottom: 8px;
}
.product-info .price {
  font-size: 30px;
  color: #4581FB;
  font-weight: 600;
  padding-bottom: 7px;
}
.product-info .tax {
  font-weight: 400;
  color: lightgray;
  padding-bottom: 17px;
}
.rating img {
  margin-right: 10px;
  padding-bottom: 15px;
}
.reviews {
  color: #4581FB;
  margin-left: 10px;
  text-decoration: none;
  padding-bottom: 15px;
}
.colors {
  margin-bottom: 14px;
}
.colors .info-line {
  margin-right: 50px;
}
.color-options {
  gap: 10px;
  overflow: visible;
}
.color-box {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.color-box.selected::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(24px + 8px);
  height: calc(24px + 8px);
  border-radius: 50%;
  border: 2px solid var(--themecolor);
  box-sizing: border-box;
}
/* ===== color ===== */
.circle1 {
  background: linear-gradient(#1f1d22, #4c4b4e);
}
.circle2 {
  background: linear-gradient(#5287a1, #2a6481);
}
.circle3 {
  background: linear-gradient(#3c3f5b, #434878);
}
.circle4 {
  background: linear-gradient(#f64c4b, #d42c2b);
}
.cart-actions {
  margin: 20px 0;
  gap: 20px;
}
.quantity {
  width: 160px;
  padding: 15px;
  border-radius: 12px;
  background: #ecf0f3;
  font-size: 16px;
  font-weight: 500;
}
.btn {
  height: 52px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
}
.btn.add {
  background: #164ab4;
  border-radius: 10px;
  color: #fff;
  width: 376px;
}
.btn.buy {
  width: 557px;
  background: #4581FB;
  color: #fff;
  margin-top: 15px;
}
.agree {
  margin: 15px 0;
  gap: 10px;
  color: #2a6481;
}
/* ==== Description ==== */
.description h2 {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--textcolor);
}

.description p {
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 40px;
  color: lightgray;
}
.description p.margin {
  margin-bottom: 0;
}
/* ==== Reviews ==== */
.reviews .ra {
  margin-bottom: 20px;
}
.reviews h2 {
  font-weight: 600;
  color: #1f1d22;
}
.write-review {
  font-size: 14px;
  color: #4581FB;
  text-decoration: none;
}
.review-item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.review-item h4 {
  font-weight: 500;
  color: #1f1d22 ;
  margin-bottom: 5px;
  margin-left: 10px;
}
.review-item img.color {
  width: 100px;
  display: block;
  margin-left: 10px;
}
.review-item p {
  line-height: 1.6;
  font-size: 14px;
  margin-top: 10px;
}
.review-item:last-child {
  border-bottom: none;
}
.review-time {
  font-size: 13px;
  color: lightgray;
  margin-left: auto;
}
.desc-reviews {
  max-width: 1280px;
  margin: 40px auto;
  padding: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  gap: 40px;
}
.related .arrows {
  gap: 20px;   /* ab dono arrows ke beech gap aayega */
}
.related h2 {
  font-weight: 600;
  font-size: 24px;
  color: var(--textcolor);
  margin-bottom: 20px;
}
.price{
  font-size: 30px;
  font-weight: bold;
  color: #4581FB;
  margin-top: 5px;
}
.arrows img{
  width: 20px;
  height: 20px;
}

.related-product{
  justify-content: space-between;
  margin-bottom: 35px;
}
.related-product img{
  width: 20px;
  height: 20px;
}
.related-product h2{
  font-size: 24px;
  font-weight: 600;
  color: #2C3D5F;
}
.arrow-space{
  gap: 15px;
}
   
.grey-color{
  background-color: #F4F8F9;
  padding: 50px;
}


.footer{
    background: #fff;
    padding: 100px 60px 20px 60px;
    position: relative;
    overflow: visible;
    margin-top: 40px;
}
.Arrow{
    padding: 8px 14px;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.footer .Arrow-wrapper{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

 /* Arrow Circle */
.footer .Arrow{
    display: inline-flex;
    background: #4581FB;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.footer-content {
    gap: 20px;
}

.footer-column {
    line-height: 1.8;
}

.footer-column h3 {
    font-weight: 500;
    margin-bottom: 15px;
    color: black ;
}

.footer-column .line {
    width: 50px;
    height: 3px;
    background: #4581FB;
    border-radius: 2px;
}

.footer-column p {
    font-size: 16px;
    color: black;
    margin-top: 10px;
}

.footer-column ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: black;
}

.footer-column ul li a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.contact-item {
    margin: 8px 0;
    font-size: 14px;
    color: black;
}

.contact-item span img{
    margin-right: 10px;
    font-size: 16px;
    color: #4581FB;
}

    /* Social Icons */
.social {
    margin-top: 15px;
    gap: 25px;
}
.social span img {
    width: 32px;
}
.footer-column .line {
    width: 50px;
    height: 3px;
    background: #4581FB;
    border-radius: 2px;
    margin-bottom: 10px;
}

    
    /* Bottom Bar */
.footer-bottom{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}

.footer-bottom .logo{
    gap: 10px;
}
.footer-bottom .image{
    width: 84px;
    height: 51px;
}
.footer-bottom img{
    width: 37px;
    margin-left: 10px;
    height: 37px;
}
.Arrow img{
  width: 20px;
  height: 20px;
}
.footer-bottom .paragraph{
  color: #2C3D5F;
}
.mob-meun-icon{
  display: none;
  margin-right: 20px;
}
.mob-meun-icon svg{
  width: 20px;
}

@media(max-width: 1024px){
.hero-content h1 {
    font-size: 60px;
}
.cat-grid{
  grid-auto-rows: 200px;
}
.hero-image{
  position: relative;
}
.product-section {
  flex-direction: column;
  align-items: center;
}
.product-thumbs {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product-thumbs img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.product-image {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img {
  width: 100%;
  max-width: 380px;
  height: auto;
}
.product-info {
  width: 100%;
}
.btn.buy {
  width: 100%;
  max-width: 500px;
  background: var(--themecolor);
  color: #FFFF;
  margin-top: 15px;
}
.product-section {
  flex-direction: column;
  align-items: center;
}
.product-thumbs {
  display: flex;
  width: 100%;
  justify-content: center;
}
.product-thumbs img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.product-image {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img {
  width: 100%;
  max-width: 380px;
  height: auto;
}
.product-info {
  width: 100%;
}
  /* Buy It Now same size as Add to Cart */
.btn.buy {
  width: 100%;
  max-width: 500px; /* optional limit */
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}



@media(max-width: 992px){
  .hero{
    flex-direction: column;
  }
  .hero-image{
    position: relative;
  }
  .cat-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "sale women"
    "new women"
    "men accessories"
    "shoes shoes";
    
  }
  .product h3{
    font-size: 18px;
  }
  .product p{
    font-size: 14px;
  }
  .blog-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

.product {
    width: calc(50% - 10px);
}
.blog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.blog-cards {
  width: calc(50% - 20px);
}

  .footer-content {
  flex-wrap: wrap;
  gap: 0;
}
.footer-column {
  width: 50%;
}
.main-img {
  max-width: 420px;
}
.btn.buy {
  width: 100%;
  max-width: 500px; 
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
}


}

@media(max-width: 767px){
.style-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.img-wrapper {
  padding: 50px;
}
.style span {
  padding: 20px 30px;
}
.style{
  max-width: 480px;
  width: 100%;
}
  .footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer-column {
  width: 100%;
}


}
@media(max-width: 620px){
  .mob-meun-icon {
  display: block;
}
.header-nav {
  display: none;
}

.product {
  width: calc(50% - 15px);
}
.blog-cards {
  width: 100%;
}.thumbs img {
  width: 55px;
  height: 55px;
}
.btn.buy {
  width: 100%;
  max-width: 500px; /* optional limit */
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
.desc-reviews {
  flex-direction: column;
}
.desc-reviews .description,
.desc-reviews .reviews {
  width: 100%;
}


}

